aside
  transition transform 0.3s ease-out
  -moz-transition transform 0.3s ease-out
  -webkit-transition transform 0.3s ease-out
  -o-transition transform 0.3s ease-out
  top 0
  left 0
  position fixed
  z-index 99
  width 90%
  background white
  height 100%
  box-shadow 1px 0px 5px 0 rgba(0,0,0,0.3)

  ul li a
    text-decoration none !important
    display block
    padding 10px 0 10px 25px
    font-size 21px
    color blacky
    border-bottom 1px solid grey

    &:hover, &:focus, &:active
      background green
      color white

    i
      margin-right 10px
