
.transition
  transition all 0.3s ease-out
  -moz-transition all 0.3s ease-out
  -webkit-transition all 0.3s ease-out
  -o-transition all 0.3s ease-out

*
  -webkit-font-smoothing antialiased !important

a,select:focus, input:focus, textarea:focus, button
  outline none !important

a
  cursor pointer

textarea
  resize none

input
  width 100%

body
  background #f9f9f9
  font-family 'Source Sans Pro', sans-serif
  font-size 15px
  line-height 1.7
  color blacky

img
  width 100%


a
  text-decoration underline
  color secondary
