.nav-menu
  position absolute
  right 0
  background white
  box-shadow 0 1px 5px 0 rgba(0,0,0,0.2)
  padding 15px
  padding-top 0
  border 1px solid #F1F1F1
  right 27px
  top 27px

  a
    @extend .tdn
    color blacky
    display block
    margin-top 15px

    &:hover, &:active, &:focus
      color green

    i
      margin-right 10px
