
nav
  padding 10px 15px
  box-shadow 0 1px 5px 0 rgba(0,0,0,.2)
  background white

  .main-title
    margin-bottom 0
    margin-top 3px
    font-size 28px

  button
    border none
    text-decoration none
    background none
    font-size 20px

    &:hover, &:active, &:focus
      color green
